# API anahtarı gibi gizli bilgileri içeren .env dosyası
.env

# Taranacak APK'ların bulunduğu yerel klasör
apks/

# Projenin herhangi bir yerine yanlışlıkla eklenebilecek .apk dosyaları
*.apk

# Python sanal ortam klasörü
venv/
__pycache__/